.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  align-items: center;
  display: flex;

  .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: $black;
    font-size: bolder;

    i {
      color: $green;
    }
  }

  .navbar {
    a {
      margin-left: 2rem;
      font-size: 1.7rem;
      color: $black;

      &:hover {
        color: $green;
      }
    }

    #nav-close {
      font-size: 5rem;
      color: $black;
      cursor: pointer;
      display: none;
    }
  }

  .icons a,
  .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: $black;

    &:hover {
      color: $green;
    }
  }

  #menu-btn {
    display: none;
  }
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transform: translateY(-110%);

  &.active {
    transform: translateY(0%);
  }

  #close-search {
    font-size: 6rem;
    color: $white;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;

    &:hover {
      color: $green;
    }
  }

  form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid $white;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      font-size: 2rem;
      color: $green;
      text-transform: none;
      background: none;
      padding-right: 2rem;

      &::placeholder {
        color: $green;
      }
    }

    label {
      font-size: 3rem;
      cursor: pointer;
      color: $white;

      &:hover {
        color: $green;
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .header {
    #menu-btn {
      display: inline-block;
    }

    .navbar {
      position: fixed;
      top: 0;
      left: -110%;
      background: $white;
      z-index: 10000;
      width: 35rem;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      &.active {
        left: 0;
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.8);
      }

      a {
        margin: 1rem 0;
        font-size: 3rem;
      }

      #nav-close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
      }
    }
  }
}
